.header {
  height: 70px;
  border-bottom: 1px solid;
}

.container {
  display: flex;
  height: 95vh;
}

.sidebar {
  width: 256px;
  border-right: 1px solid;
}

.container > div:last-child {
  flex: 1;
  overflow: auto;
}